@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* スタイル削除 */
.no_margin {
    margin: 0;
}

.margin_bottom {
    margin-bottom: 20px;
}

/* body */
.all_content {
    height: 100%;
    background: #ECF1F6;
}

ul,
li {
    list-style: none;
}


/* ログイン画面 */
.login_page {
    height: 100vh;
    background-color: #eef1f5;
}

/* ロゴとログイン情報フォーム */
.login_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* ロゴの設定 */
.login_container img {
    width: 150px;
    padding-bottom: 50px;
}

/* ログイン情報フォーム */
.login_box {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    width: 400px;
    box-sizing: border-box;
    padding: 50px 30px 15px 50px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

/* メールアドレス */
.mail_box {
    font-size: 13px;
}

.mail_area input {
    border: none;
    border-bottom: 1px solid blue;
    outline: none;
    width: 90%;
}

/* パスワード */
.password_box {
    margin-top: 30px;
    font-size: 13px;
}

.password_area input {
    border: none;
    border-bottom: 1px solid blue;
    outline: none;
    width: 90%;
}

/* ログインボタン */
.submit_btn {
    display: flex;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submit_btn input {
    font-size: 13px;
}

/* 新規登録のリンク */
.sign_up {
    text-align: center;
}

.sign_up a {
    font-size: 13px;
}

.sign_up a:hover {
    text-decoration: none;
}

/* 新規投稿ページのスタイル */
.gray_border {
    border: 1px solid #c5c5c5;
}

.margin_top {
    margin-top: 10px;
}

.margin_top2 {
    margin-top: 20px;
}


/* 新規登録画面 */
.register_page {
    height: 100vh;
    background-color: #eef1f5;
}

.register_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* 新規登録情報フォーム */
.register_box {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    width: 400px;
    box-sizing: border-box;
    padding: 50px 30px 15px 50px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

/* 名前の入力エリア */
.username_area {
    display: flex;
    font-size: 13px;
    margin-bottom: 15px;
}

.error_message {
    color: red;
    font-size: 13px;
}

.username1,
.username2 {
    width: 50%;
}

.username1 input {
    border: none;
    border-bottom: 1px solid blue;
    outline: none;
    width: 90%;
}

.username2 input {
    border: none;
    border-bottom: 1px solid blue;
    outline: none;
    width: 90%;
}

/* 名前(カナ)の入力エリア */
.username_area_kana {
    display: flex;
    font-size: 13px;
    margin-bottom: 15px;
}

.username1_kana,
.username2_kana {
    width: 50%;
}

.username1_kana input {
    border: none;
    border-bottom: 1px solid blue;
    outline: none;
    width: 90%;
}

.username2_kana input {
    border: none;
    border-bottom: 1px solid blue;
    outline: none;
    width: 90%;
}

/* メールアドレスの入力エリア */
.register_mail_area {
    font-size: 13px;
    margin-bottom: 15px;
}

.register_mail_area input {
    border: none;
    border-bottom: 1px solid blue;
    outline: none;
    width: 100%;
}

/* 性別のラジオボタン */
.radio_btn_area1 {
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    margin-bottom: 15px;
}

/* 生年月日のセレクトボックス */
.old_area {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 13px;
    margin-bottom: 15px;
}

.old_area_box {
    display: flex;
    width: 100%;
}

.old_year_area,
.old_month_area,
.old_day_area {
    display: flex;
    width: 33%;
}

.old_year,
.old_month,
.old_day {
    border: none;
    border-bottom: 1px solid blue;
    outline: none;
    width: 80%;
}

/* 役職のラジオボタン */
.radio_btn_area2 {
    font-size: 13px;
    margin-bottom: 15px;
}

.radio_btn_box {
    display: flex;
    justify-content: space-around;
}

/* 選択科目のチェックボックス(デフォルトは非表示) */
.select_teacher_area {
    display: none;
    font-size: 13px;
    margin-bottom: 15px;
    /* JavaScriptでチェックボックスのオンオフを設定する */
    /* display: flex; */
}

.select_teacher_box {
    display: flex;
    justify-content: space-around;
}

/* パスワードエリア */
.register_password_area {
    font-size: 13px;
    margin-bottom: 15px;
}

.password_check_area {
    font-size: 13px;
}

.register_password_area input,
.password_check_area input {
    border: none;
    border-bottom: 1px solid blue;
    outline: none;
    width: 100%;
}

/* 新規登録ボタン */
.submit_btn input {
    width: 80px;
    height: 30px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit_btn input:hover {
    background-color: #0000FF;
}

/* 「ログインはこちら」のリンク */
.login_page_link {
    text-align: center;
}

.login_page_link a {
    text-decoration: none;
    color: #007bff;
}

.login_page_link a:hover {
    text-decoration: none;
    color: #0056b3;
}

/* マイページ */
/* マイページタイトル */
.profile_title {
    margin-left: -150px;
    margin-top: -2.5rem;
}

/* サイドバー */
.sidebar {
    width: 180px;
    height: 100vh;
    background-color: #03AAD2;
    font-weight: bold;
}

.sidebar img {
    width: 20px;
    height: 20px;
    margin: 0 3px;
}

.top_menu {
    margin-top: 20px;
}

.main-container {
    width: 100%;
}

.sidebar p a {
    color: #FFF;
}

/* トップページ */
.user_status {
    border-radius: 10px;
    background: #FFF;
    margin-top: 3rem;
}

/* スクール予約関連 */

.calendar_style_a {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.calendar_style_b {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 5px;
    box-shadow: -5px 5px 10px #0000003b;
    background: #fff;
    width: 80%;
}

.calendar_style_c {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 5px;
    box-shadow: -5px 5px 10px #0000003b;
    background: #fff;
    width: 80%;
}

.title_style {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    color: gray;
}

.table_style {
    width: 100%;
    table-layout: fixed;
}

.date_blank {
    background: #d3d3d3;
}

.day-sat {
    color: #0000FF;
}

.day-sun {
    color: #FF0000;
}

.count_style {
    color: black;
    display: flex;
    flex-wrap: wrap;
    /* 子要素を折り返す */
    justify-content: space-between;
    /* 子要素間のスペースを均等に */
}

.margin_style {
    padding: 0.5rem 0;
    background: #fff;
}

.past-day {
    background: #EEE;
}

.future_day {
    background: #fff;
}

.past-day,
.future_day {
    padding: 0.5rem;
}

.future_day2 {
    padding: 0.5rem 0.5rem 1rem 0.5rem;
}

.date_style {
    margin: 0;
}

.day-blank {
    background: #D3D3D3;
}

.calendar-td {
    min-width: 100px;
}

.day_part {
    color: #494949;
    font-size: 12px;
}

.adjust-table {
    width: 70% !important;
}

.adjust-table td {
    /* padding: 0 !important; */
}

.adjust-area p {
    justify-content: space-around;
}

.adjust-table-btn {
    width: 100%;
}

.setting_btn {
    margin-top: 1rem;
}

.link_container {
    display: flex;
    justify-content: center;
    width: 50%;
}

.link_style {
    color: #03aad2;
}

.count_text_style {
    text-align: left;
    /* 数字を右揃え */
}

/* 予約詳細ページ */
.margin_style2 {
    margin-bottom: 0.5rem;
}

.reservation_container {
    display: flex;
    padding: 0.5rem;
    border-radius: 10px;
    background: #fff;
}

.table_header th {
    background-color: #03aad2;
    color: #fff;
}

.custom_box {
    width: 80%;
}

.custom_table {
    width: 100%;
    height: 100%;
}

.custom_table tbody tr td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.text_box {
    padding: 0 3rem;
}

.text_area {
    display: flex;
    width: 100%;
}

.text_left {
    width: 15%;
    display: flex;
    justify-content: center
}

.text_center {
    width: 45%;
    display: flex;
    justify-content: center
}

.text_right {
    width: 40%;
    display: flex;
    justify-content: center
}

.text_color {
    color: black;
}

/* 行のスタイル 交互に配色*/
.custom_table tbody tr.even-row {
    background-color: #fff;
}

.custom_table tbody tr.odd-row {
    background-color: #daf2ff;
}


/* モーダル */
.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

/* 掲示板 */
.sub_categories {
    display: none;
}

/* カテゴリー検索の矢印 */
.toggle_arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(135deg);
    /* 下向き矢印 */
    cursor: pointer;
    transition: transform 0.3s;
    position: absolute;
    right: 5%;
    top: 20%;
}

.toggle_arrow.open {
    border-top: none;
    border-right: none;
    /* 上向き矢印時に非表示 */
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    transform: rotate(135deg);
    /* 上向き矢印 */
}

/* ユーザープロフィールのトグル */
.toggle_arrow2 {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #03AAD2;
    border-right: 2px solid #03AAD2;
    transform: rotate(135deg);
    /* 下向き矢印 */
    cursor: pointer;
    transition: transform 0.3s;
    margin-left: 5px;
}

.toggle_arrow2.open {
    border-top: none;
    border-right: none;
    /* 上向き矢印時に非表示 */
    border-bottom: 2px solid #03AAD2;
    border-left: 2px solid #03AAD2;
    transform: rotate(135deg);
    margin-top: 5px;
    /* 上向き矢印 */
}

/* ユーザー検索ページのサイドバートグル */
.toggle_arrow3 {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(135deg);
    /* 下向き矢印 */
    cursor: pointer;
    margin-left: -20px;
    margin-top: 10px;
}

.post_create_area {
    background: #FFF;
    border-radius: 10px;
}

.post_create_area textarea {
    resize: none;
    height: 300px;
    white-space: pre-wrap;
}

.detail_container {
    background: #FFF;
}

.post_area {
    background: #FFF;
    border-radius: 10px;
}

.post_bottom_area {
    display: flex;
    justify-content: space-between;
}

.like_btn,
.un_like_btn {
    cursor: pointer;
}

.like_btn {
    -webkit-text-stroke: 2px gray;
    /* webkitで袋文字の設定 */
    color: white;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    display: inline-block;
}

.like-btn .fa-heart {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}


.un_like,
.un_like_btn {
    color: #E2254D;
}

.comment_icon {
    color: gray;
}

.count {
    margin-left: 5px;
}

/* バリデーションエラーメッセージ */
.error_message {
    font-size: 12px;
    color: red;
}

/* 投稿者の名前のスタイル */
.user_name {
    color: grey;
    font-weight: bold;
}

/* 投稿タイトル */
.post_title_p {
    margin-bottom: 7px;
}

.post_title {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.post_title:hover {
    color: #606060;
    text-decoration: none;
}

/* アイコングループ */
.post_status {
    display: flex;
    justify-content: space-between;
    /* 左右の要素を離して配置 */
    align-items: center;
    /* 垂直方向の中央揃え */
    width: 100%;
}

/* サブカテゴリー名 */
.sub_category_name_button {
    margin-right: auto;
    background-color: #03AAD2;
    border-radius: 10px;
    color: white;
    padding: 2px 5px;
    font-size: 13px;
    border: none;
    outline: none;
    white-space: nowrap;
    /* テキストが長くても改行しないようにする */
}

.sub_category_name_button:focus {
    outline: none;
    /* フォーカス時のアウトラインを消す */
    box-shadow: none;
    /* フォーカス時のボックスシャドウを消す */
}

.icon {
    display: flex;
    margin-left: auto;
}

.like_count {
    margin-right: 10px;
}

/* サイド：検索フォームエリア */
.side_box1 {
    display: flex;
    flex-direction: column;
}

.side_box1 a {
    font-size: 12px;
}

/* 投稿ボタン */
.post_create {
    width: 90%;
    height: 30px;
    background-color: #03AAD2;
    color: white;
    border-radius: 5px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post_create:hover {
    background-color: #05a1c7;
    color: white;
    text-decoration: none;
}

/* 検索欄 */
.post_show_box {
    width: 90%;
    display: flex;
    margin-bottom: 15px;
}

.search_box {
    display: flex;
    width: 90%;
    height: 30px;
    margin-bottom: 15px;
    font-size: 12px;
}

.search_area {
    width: 70%;
    background-color: #ECF1F6;
    border: 1px solid #c8c8c8;
    outline: none;
    border-radius: 5px 0 0 5px;
    /* 左側だけに角丸を適用 */
}

.search_button {
    width: 30%;
    background-color: #03AAD2;
    color: white;
    border-radius: 0 5px 5px 0;
    border: none;
    /* 左側だけに角丸を適用 */
}

.search_button:hover {
    background-color: #05a1c7;
}

/* いいねした投稿と自分の投稿 */
.main_box,
.like_box {
    width: 50%;
    height: 30px;
    color: white;
    border-radius: 5px;
    margin-bottom: 15px;
    margin: 0 1px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_box {
    background-color: #f9c000;
}

.like_box {
    background-color: #ed769d;
}

.main_box:hover {
    background-color: #e7b304;
}

.like_box:hover {
    background-color: #d86d90;
}

/* メインカテゴリーとサブカテゴリーのアンダーライン設定 */
.category_search {}

.category_header {
    display: flex;
    width: 90%;
    position: relative;
    margin-bottom: 12px;
}

.category_name {
    flex: 1;
}

.category_name,
.sub_categories li {
    border-bottom: 1.5px solid #aaaaaa;
    padding-bottom: 3px;
}

.sub_categories li {
    margin-left: 10%;
    margin-bottom: 12px;
}

.main_category_box {
    display: flex;
}

.main_categories {
    width: 100%;
    position: relative;
}

.sub_categories {
    width: 80%;
}

.sub_category_button {
    font-size: 14px;
    margin-left: 10%;
    margin-bottom: 12px;
    color: black;
    text-decoration: none;
    border: none;
}

.sub_category_button:hover {
    color: #666666;
}

/* 掲示板 詳細画面 */
.contributor {
    font-size: 12px;
    color: #999;
    font-weight: bold;
}

.detsail_post_title {
    font-size: 14px;
}

.detsail_post {
    font-size: 12px;
    color: #9E9E9E;
}

.detail_inner_head {
    display: flex;
    justify-content: space-between;
}

.edit-modal-open {
    cursor: pointer;
}

.modal-inner-body textarea {
    height: 150px;
    resize: none;
}

.edit-modal-btn {
    justify-content: space-between;
}

.edit_delete_button {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 5px;
}

.edit_button span,
.delete_button a {
    color: white
}

.edit_button:hover,
.delete_button:hover {
    filter: brightness(0.8);
    /* 明るさを80％に指定 */
}

.edit_button {
    background: #0068ff;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 60px;
    padding: 5px 0;
}

.delete_button a:hover {
    text-decoration: none;
    color: white;
}

.delete_button {
    background: red;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 60px;
    padding: 5px 0;
}

.sub_category_name_area {
    display: flex;
    align-items: center
}

.submit_button {
    display: flex;
    width: 100%;
    justify-content: flex-end
}


/* 掲示板 コメント */
.comment_container {
    background: #FFF;
}

.comment_area p,
.comment_area input {
    font-size: 12px;
    font-weight: bold;
}

.comment_area textarea {
    height: 300px;
    resize: none;
}

.comment_container span {
    font-size: 12px;
}

.post_status span {
    font-size: 12px;
}

/* 掲示板　カテゴリー */
.category_area {
    background: #FFF;
    border-radius: 10px;
}

.category_box {
    border-radius: 5px;
    padding: 3px;
    background: #999;
    font-size: 10px;
    color: #FFF;
}

.category_btn {
    font-size: 12px;
    border-radius: 5px;
    padding: 0 5px;
    border: none;
    color: #FFF;
}

.main_categories span,
.sub_categories li input {
    list-style: none;
    cursor: pointer;
}

/* ユーザー検索 */
.user_search_container {
    width: 80%;
}

.search_sidebar {
    width: 80%;
}

.reserve_users_area {
    display: flex;
    flex-wrap: wrap;
    width: 880px;
    margin: 10px auto 0 auto;
    /* height: 80vh; */
    overflow: scroll;
}

.reserve_users_area span {
    font-size: 12px;
}

.one_person {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    height: 200px;
    background: #FFF;
    border-radius: 7px;
    margin: 0 10px 10px 10px;
    padding: 10px;
    font-weight: bold;
    box-shadow: -5px 5px 10px #0000003b;
    /* 左と下に影を追加 */
}

.search_conditions span {
    cursor: pointer;
}

.search_conditions_inner {
    display: none;
    background: #ECF1F6;
}

.subject_edit_btn {
    cursor: pointer;
}

.subject_inner {
    display: none;
}


.search_conditions {
    display: flex;
    width: 100%;
}

.user_search_box {
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 12px;
}

.title_name {
    flex: 1;
    border-bottom: 1.5px solid #aaaaaa;
    padding-bottom: 3px;
}

.name_title {
    color: gray;
}

/* 検索用サイドバー */
.search_title {
    color: #67769d;
    font-size: 20px;
    margin: 50px 0 10px 0;
}

.search_box2 input {
    background-color: #dfe0e2;
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 10px;
}

/* 各項目を縦に配置 */
.search_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.select_container {
    display: flex;
}

.margin_more {
    margin-bottom: 20px;
}

.search_sidebar label,
.title_color {
    color: #67769d;
}

.engineer {
    background-color: #dfe0e2;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 40px;
    max-width: 40%;
    height: 30px;
    appearance: none;
    /* デフォルトのトグルを非表示 */
}

.search_items input {
    margin: 0 10px 0 3px;
}

.search_button2 {
    display: flex;
    width: 80%;
}

.search_button2 input {
    width: 100%;
    height: 40px;
    background-color: #03AAD2;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.search_button2 input:hover {
    background-color: #05a1c7;
}

.reset_button {
    display: flex;
    width: 80%;
}

.reset_button input {
    width: 100%;
    height: 40px;
    color: #03AAD2;
    border: none;
    cursor: pointer;
}

.reset_button input:hover,
.user_name_container a:hover {
    color: #05a1c7;
}

.user_name_container a {
    color: #03AAD2;
}


/* ユーザープロフィール */
.subject_conditions {
    display: flex;
    width: 100%;
    align-items: center;
}

.subject_conditions span {
    color: #03AAD2;
}

.subject_group {
    display: flex;
    align-items: baseline
}

.subject_items {
    display: flex;
    align-items: baseline
}

.subject_items input {
    margin: 0 5px 0 3px;
}
